<form>
  <div class="form-group">
    <label for="keywords">Keyword(s)</label>
    <input type="text" class="form-control" id="keywords">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
