<ul class="list-group">
  <% list.movies.each do |movie| %>
    <li class="list-group-item p-1">
      <%= link_to details_path(tmdb_id: movie.tmdb_id) do %>
        <% if movie.adult == true %>
          <div class="btn btn-sm btn-info my-0">Adult</div>
        <% end %>
        <h6 class="my-0"><%= movie.title %></h6>
      <% end %>
      <% classes = "btn btn-sm btn-success mx-1" %>
      <% if list.name.first != "\u009E" %>
        <% classes << " disabled" if @queue.movies.pluck(:tmdb_id).include? movie.tmdb_id  %>
        <%= link_to 'Add to Queue', queue_path(tmdb_id: movie.tmdb_id),
          method: :post, remote: true, class: classes %>
      <% end %>
      <%= link_to 'Remove', remove_movie_path(
        movie_id: movie.id, tmdb_id: movie.tmdb_id, list_id: list.id),
        method: :post, remote: true, class: "btn btn-sm btn-danger" %>
    </li>
  <% end %>
</ul>
