<h1>These are all of your lists:</h1>
<p>
  <div class="list-group">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "list-group-item" do %>
        List Name: <%= list.name %><br>
        # of Movies: <%= list.movies.length %>
      <% end %>
    <% end %>
  </div>
</p>
