<div class="container">
  <div class="row">
    <div class="section">
      <%= link_to filter_path, remote: true do %>
        <button class="btn btn-default"><span class="fa fa-plus"></span> Filter List</button>
      <% end %>
      <div id="filter-form" style="display:none;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card my-4">
        <div id="list"><%= render partial: 'list', locals: { list: @list, type: 'list'} %></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-4">
        <div id="queue" class="queue"><%= render partial: 'list', locals: { list: @queue, type: 'queue' } %></div>
        <%= link_to 'Spin The Wheel!', spin_path, remote:true, html: {id: "ajax_trigger"}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>


<h1 id="winner"></h1>

<script type="text/javascript">
  function loadList(){
    $getJSON("/list.json", function(data){
      var html = "";
      $.each(data, function(index){
        alert(data[index].content);
        html += ""
      })
    })
  }
</script>
