<p>Find me in app/views/lists/view.html.erb</p>
<h1><%= @list.name %></h1>

<div class="list-group">
  <% @list.movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "list-group-item" do %>
      <strong>Title: </strong><%= movie.title %><br>
      <strong>ID: </strong><%= movie.id %>
    <% end %>
  <% end %>
</div>
