<%= form_with url: '/search_results', method: :get, local: true do |form| %>

  <div class="form-group">
    <%= form.label :keywords %>
    <%= form.text_field :keywords %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>
