<div class="container">
  <div class="row">
    <div class="col-sm word-wrap">
      <%= image_tag small_movie_poster_url(@movie) %>
      <div class="list-group"><p>
        <% @movie.each_pair do |key, value| %>
          <p>
            <strong><%= key %>: </strong>
            <%= value %>
          </p>
        <% end %>
      </p></div>
    </div>
  </div>
</div>
