<div class="container">
  <div class="row">
    <p>
      <%= image_tag @path %>
    </p>
  </div>
  <div class="col-sm-6 word-wrap">
    <p>Here's the details of the movie using @movie = Tmdb::Movie.detail(24)</p>
    <p>
      <% @movie2.each_pair do |key, value| %>
        <p>
          <%= key %><br>
          <%= value %>
        </p>
      <% end %>
    </p>
  </div>
</div>
</div>
