<%= link_to "Lists", :lists, class: "btn btn-primary" %>
<h1>
  Search for a Movie
</h1>
<%= render 'form' %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
